# Ignore everything by default
*

# Allow Homework folders (but not their contents yet)
!Homework*/

# Inside Homework folders, only allow Pandovski PDFs and Lab#.m files
!Homework*/*Pandovski*.pdf
!Homework*/Lab[0-9]*.m

# Always allow .gitignore itself
!.gitignore
